*{
	margin : 0;
	padding : 0;
	box-sizing : border-box;
	font-family : 'Poppins';
}

:root{
	font-size : 10px;

	/*--- height ---*/

	--nav-height : 7rem;
	--hero-height : calc(100vh - var(--nav-height));
	--reason-height : 60rem;
	--project-height : 85rem;
	--contact-height : 62.5rem;
	--footer-height : var(--nav-height);

	/*---- color ---*/
	--body-color : #302626;
	--light-color : #fff;
	--red-color : #ff2a2a;
}

html{
	scroll-behavior : smooth;
}

body{
	background-color : var(--body-color);
}

.container{
	display : flex;
	align-items : center;
	height : 100%;
	max-width : 1200px;
	margin : 0 auto;
}


/*---- global ----*/

section{
}

h2{
	color : var(--red-color);
	font-size : 5rem;
	text-transform : uppercase;
}

p{
	color : white;
	font-size : 1.6rem;
	letter-spacing : 0.05rem;
	line-height : 1.5;
}

.btn{
	all : unset;
	display : inline-block;
	padding : .5em 4em;
	font-size : 2.5rem;
	font-weight : bold;
	text-transform : uppercase;
	background-color : var(--red-color);
}

.btn .icon{
	margin-left : 1rem;
}

/*---- specific ----*/

nav{
	position : relative;
	height : var(--nav-height);
	background-color : var(--light-color);
}

nav .container{
	display : flex;
	justify-content : space-between;
	align-items : center;
	height : 100%;
}

nav .logo{
	font-size : 2.4rem;
	font-weight : bold;
	text-transform : uppercase;
}

nav .menu-toggler > div{
	height : .8rem;
	width : 4rem;
	background-color : var(--red-color);
	transition : background .2s ease;
}

nav .menu-toggler:hover > div{
	background-color : var(--body-color);
}

nav .menu-toggler .line-1{
	margin-bottom : .8rem;
}

nav .nav-links{
	position : fixed;
	top : 0;
	right : 0;
	display : flex;
	flex-direction : column;
	align-items : center;
	justify-content : flex-start;
	height : 100%;
	width : 25rem;
	padding : 5em 0;
	background-color : var(--body-color);
	list-style-type : none;
	transform : translate(100%, 0);
	transition : transform .2s ease;
}

nav .nav-links.open{
	transform : translate(0, 0);
}

nav .nav-links li:not(.close-nav){
	font-size : 2rem;
	letter-spacing : 0.1rem;
}

nav .nav-links li:not(last-child){
	margin-bottom : 2em;
}

nav .nav-links .logo{
	margin-top : 2em;
	color : #fff;
}

nav .nav-links li a{
	color : #fff;
	text-decoration : none;
	transition : color .2s ease;
}

nav .nav-links li a:hover{
	color : var(--red-color);
}

nav .nav-links .close-nav{
	position : absolute;
	top : 1.5rem;
	left : 2.7rem;
	font-size : 4rem;
	color : #fff;
	cursor : pointer;
	transition : color .2s ease;
}

nav .nav-links .close-nav:hover{
	color : var(--red-color);
}

.hero{
	min-height : var(--hero-height);
	background-color : var(--light-color);
}

.hero .container{
	align-items : center;
	min-height : var(--hero-height);
}

.hero .content{
	width : 55rem;
}

.hero .content h1{
	font-size : 7rem;
}

.hero .content .line-top,
.hero .content .line-bottom{
	height : 2rem;
	width : 20rem;
	background-color : black;
}

.hero .content .line-top{
	margin : 0 0 2rem auto;
}

.hero .content .line-bottom{
	margin : 2rem 0 0;
}

.hero .content .btn{
	margin : 6rem 0 2rem;
}

.reason{
	height : var(--reason-height);
}

.reason .content-1{
	flex : 3;
}

.reason .content-2{
	flex : 2;
	display : flex;
	justify-content : center;
	align-items : center;
}

.reason .content-1 h2{
	margin-bottom : 2rem;
}

.reason .content-2 .icon{
	margin : 0 4rem;
	font-size : 15rem;
	color : var(--red-color);
	opacity : .4;
}

.background-chevron{
	position : absolute;
	top : 120vh;
	left : -20vw;
	z-index : -1;
}

.background-chevron .icon{
	margin : 0 5rem;
	font-size : 50rem;
	color : white;
	opacity : .1;
}

.project{
	min-height : var(--project-height);
}

.project .container{
	flex-direction : column;
	align-items : flex-start;
}

.projects{
	display : flex;
	justify-content : space-between;
	width : 100%;
	margin : 5em 0 7em;
}

.card{
	display : flex;
	justify-content : flex-end;
	height : 50rem;
	width : 50rem;
	background-color : #fff;
}

.card .info{
	display : flex;
	justify-content : space-between;
	align-items : center;
	width : 100%;
	margin-top : auto;
	padding : 2em 4em;
}

.card .info .title{
	font-size : 2.5rem;
	font-weight : bold;
	letter-spacing : .1rem;
	text-transform : uppercase;
}

.card .info .icon{
	font-size : 2.5rem;
}

.project .btn{
	margin : 0 auto;
	font-size : 2rem;
}

.contact{
	min-height : var(--contact-height);
}

.contact .container{
	flex-direction : column;
	align-items : flex-start;
}

.contact .row{
	display : flex;
	width : 100%;
	margin-top : 4em;
}

.contact form{
	flex : 3;
	display : flex;
	flex-direction : column;
}

.contact form > *{
	margin-bottom : 2em;
	padding : 1em 2em;
	font-size : 1.6rem;

}

.contact form > *:last-child{
	margin-bottom : 0;
}

.contact form textarea{
	min-height : 10rem;
	height : 25rem;
	resize : none;
}

.contact .self-info{
	flex : 2;
	margin-left : 5em;
	font-size : 1.6rem;
	color : #fff;
	letter-spacing : .1rem;
}

.contact .self-info .phone{
	margin-bottom : 1em;
}

.contact .self-info .icon{
	margin-right : 1em;
	color : var(--red-color);
}

footer{
	height : var(--footer-height);
	background-color : #fff;
	font-size : 1.6rem;
	line-height : var(--footer-height);
	text-align : center;
	letter-spacing : 0.1rem;
}

@media screen and (max-width : 1200px){
	.container{
		padding : 0 5rem;
	}
}

@media screen and (max-width : 900px){
	:root{
		font-size : 8px;
	}

	section .container{
		padding : 5em;
	}

	section .header{
		margin : 0 auto;
		text-align : center;
	}

	section h2{
		margin : 0 auto;
		text-align : center;
	}

	.reason .container{
		flex-direction : column;
		justify-content : center;
		align-items : center;
		padding : 5em;
	}

	.reason .content-1{
		flex : initial;
	}

	.reason .content-2{
		flex : initial;
		margin : 5em 0 0;
	}
	
	.project .container{
		padding : 5em;
	}

	.project .projects{
		flex-direction : column;
		align-items : center;
	}
	
	.project .projects .card{
		height : 40rem;
		width : 40rem;
	}

	.project .projects .card:not(last-child){
		margin-bottom : 5em;
	}

	.contact .header{
		text-align : ;
	}

	.contact .row{
		flex-direction : column;
	}

	.contact .row .self-info{
		margin : 2em auto 0;
	}
}
